{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Detalhes da Avaliação</h1>
        <p><strong>Colaborador Avaliado:</strong> {{ avaliacao.colaborador_avaliado.nome }}</p>
        <p><strong>Avaliador:</strong> {{ avaliacao.avaliador.nome }}</p>
        <p><strong>Data:</strong> {{ avaliacao.data_criacao }}</p>

        {% for topico, dados in respostas_por_topico.items %}
            <h2>{{ topico }}</h2>
            <ul>
                {% for pergunta, nota in dados.pares %}
                    <li>
                        <strong>{{ pergunta.texto }}</strong><br>
                        Resposta: {{ nota }}
                    </li>
                {% endfor %}
            </ul>
            <p><strong>Média do tópico:</strong> {{ dados.media }}</p>
        {% endfor %}

        <h2>Respostas Textuais</h2>
        <ul>
            {% for resposta in respostas_textuais %}
                <li>
                    <strong>{{ resposta.pergunta.texto }}</strong><br>
                    Resposta: {{ resposta.texto }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
