{% extends "base.html" %}

{% block content %}
  <h2>Lista de Avaliações</h2>
  {% if avaliacoes %}
    <ul>
      {% for avaliacao in avaliacoes %}
        <li>
          Colaborador Avaliado: {{ avaliacao.colaborador_avaliado.nome }}<br>
          Avaliador: {{ avaliacao.avaliador.nome }}<br>
          Data: {{ avaliacao.data_criacao }}<br>
          <!-- Adicione outros detalhes que desejar -->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Não há avaliações disponíveis.</p>
  {% endif %}
{% endblock %}