{% extends 'base.html' %}

{% block title %}Avaliações do Departamento: {{ departamento.nome }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Avaliações do Departamento: {{ departamento.nome }}</h1>
    <ul class="list-group">
        {% for avaliacao in avaliacoes %}
            <li class="list-group-item">
                <a href="{% url 'detalhes_avaliacao_rh' avaliacao.id %}">
                    Avaliação de {{ avaliacao.colaborador_avaliado.nome }} - {{ avaliacao.data_avaliacao|date:"d/m/Y" }}
                </a>
                <br>
                <strong>Avaliador:</strong> {{ avaliacao.avaliador.nome }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
