<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Avaliação</title>
</head>
<body>
    <h1>Detalhes da Avaliação</h1>

    <p>Teste {{avaliacao.respostas}}</p>
    <p>Avaliador: {{ avaliacao.avaliador }}</p>
    <p>Colaborador Avaliado: {{ avaliacao.colaborador_avaliado.nome }}</p>
    <p>Pontos de Melhoria: {{ avaliacao.pontos_melhoria }}</p>
    <p>PDI: {{ avaliacao.pdi }}</p>
    <p>Metas: {{ avaliacao.metas }}</p>
    <p>Alinhamento Semestral: {{ avaliacao.alinhamento_semestral }}</p>
    <p>Média Geral: {{ avaliacao.media_geral }}</p>
    <p>Comentários: {{ avaliacao.comentarios }}</p>
</body>
</html>
