{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Bem-vindo, {{ user.nome }}!</h2>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Informações básicas</h3>
                </div>
                <div class="card-body">
                  <p>Cargo atual: {{ user.cargo }}</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Realize sua avaliação clicando no link abaixo</h3>
                </div>
                <div class="card-body">
                    <a class="nav-link btn-primary text-center text-light" href="{% url 'avaliacao' %}">Realizar avaliação</a>
                </div>
            </div>

            {% if user.is_lider %}
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Avaliações do Seu Setor</h3>
                </div>
                <div class="card-body">
                    {% if avaliacoes_setor %}
                        <ul class="list-group">
                            {% for avaliacao in avaliacoes_setor %}
                                <li class="list-group-item">
                                    <a href="{% url 'avaliacao_detalhes' avaliacao.id %}">
                                        <strong>Colaborador Avaliado:</strong> {{ avaliacao.colaborador_avaliado.nome }}<br>
                                        <strong>Avaliador:</strong> {{ avaliacao.avaliador.nome }}<br>
                                        <strong>Data:</strong> {{ avaliacao.data_criacao }}<br>
                                    </a>
                                    <form method="post" action="{% url 'avaliacao_lider' avaliacao.id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn-sm">Avaliar</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Não há avaliações no seu setor.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Avaliações Realizadas por Você</h3>
                </div>
                <div class="card-body">
                    {% if avaliacoes_realizadas %}
                        <ul class="list-group">
                            {% for avaliacao in avaliacoes_realizadas %}
                                <li class="list-group-item">
                                    <a href="{% url 'avaliacao_detalhes' avaliacao.id %}">
                                        <strong>Colaborador Avaliado:</strong> {{ avaliacao.colaborador_avaliado.nome }}<br>
                                        <strong>Data:</strong> {{ avaliacao.data_criacao }}<br>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Você ainda não realizou nenhuma avaliação.</p>
                    {% endif %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Avaliações Recebidas por Você</h3>
                </div>
                <div class="card-body">
                    {% if avaliacoes_recebidas %}
                        <ul class="list-group">
                            {% for avaliacao in avaliacoes_recebidas %}
                                <li class="list-group-item">
                                    <a href="{% url 'avaliacao_detalhes' avaliacao.id %}">
                                        <strong>Avaliador:</strong> {{ avaliacao.avaliador.nome }}<br>
                                        <strong>Data:</strong> {{ avaliacao.data_criacao }}<br>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Você ainda não recebeu nenhuma avaliação.</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}