{% extends "base.html" %}

{% block content %}
<div class="container mt-5 fs-2">
    <div class="row fs-3">
        <div class="col-md-12">
            <h2 class="mb-4">Bem-vindo, {{ user.nome }}!</h2>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Informações básicas</h3>
                </div>
                <div class="card-body">
                    <p>Função atual: {{ user.funcao }}</p>
                    <p>Departamento: {{ user.departamento }}</p>
                    <p>Data de admissão: {{ user.data_admissao|date:"d/m/Y" }}</p>
                </div>
            </div>

            {% if not user.is_rh and not user.is_lider %}
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Realize sua avaliação clicando no link abaixo</h3>
                </div>
                <div class="card-body">
                    <a class="nav-link btn-primary text-center text-light" href="{% url 'realizar_avaliacao_colaborador' %}">Realizar avaliação</a>
                </div>
            </div>
            {% endif %}
        
            {% if user.is_lider %}

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Realize sua avaliação clicando no link abaixo</h3>
                </div>
                <div class="card-body">
                    <a class="nav-link btn-danger text-center text-light" href="">Avaliacao para lider ficará disponivel em breve</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Colaboradores do Seu Setor</h3> 
                </div>
                <div class="card-body">
                    {% if colaboradores_setor %}
                        <ul class="list-group">
                            {% for colaborador in colaboradores_setor %}
                                <li class="list-group-item">
                                    <strong>Colaborador:</strong> {{ colaborador.nome }}<br>
                                    <strong>Setor:</strong> {{ colaborador.departamento.nome }}<br>
                                    <a href="{% url 'realizar_avaliacao_lider' colaborador.id %}" class="btn btn-secondary btn-sm">Avaliar</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Não há colaboradores no seu setor.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
