<form method="post" action="{% url 'realizar_avaliacao_colaborador' %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- Renderiza os tópicos e perguntas -->
    <!-- {% for topico, perguntas in topicos_perguntas.items %}
        <h3>{{ topico.nome }}</h3>
        {% for pergunta in perguntas %}
            <div class="mb-3">
                <label for="id_pergunta_{{ pergunta.id }}_nota">{{ pergunta.texto }}</label>
                <input type="number" name="pergunta_{{ pergunta.id }}_nota" id="id_pergunta_{{ pergunta.id }}_nota" class="form-control" min="0" max="10">
            </div>
        {% endfor %}
    {% endfor %} -->

    <button type="submit" class="btn btn-primary">Salvar Avaliação</button>
</form>
