<!-- visualizar_avaliacoes_rh.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Visualização de Avaliações Realizadas</h1>

    <div id="departamentosAccordion">
            {% for departamento, turnos in avaliacoes_por_departamento.items %}
        <div class="card">
            <div class="card-header" id="heading-{{ forloop.counter }}">
                <h2 class="mb-0">
                    <a href="{% url 'avaliacoes_departamento' departamento.id %}" class="btn btn-link btn-block text-left">
                        Departamento: {{ departamento }}
                    </a>
                </h2>
            </div>
        </div>
    {% endfor %}
    </div>
    
</div>
{% endblock %}
